<div id="listView" class="container-fluid">
<div class="row" id="searchObj">
    <div ng-hide="false"  class="input-group col-md-12" style="padding-left:15px;padding-right:15px;margin-top:1px;margin-bottom:1px;">
          <input type="text" class="form-control searchStyle" placeholder="Search your wish" ng-model="HC.searchText" ng-click="HC.searchCall()">
          <span class="input-group-addon" ><a href="javascript:"><i class="glyphicon glyphicon-search" ng-click="HC.searchCall()"></i></a></span>
   </div>
</div>
</div>
